@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #4a4a4a;
  font-size: 14px;
  -webkit-text-size-adjust: none;
  font-family: -apple-system, "NanumSquareR", "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  padding: 20px;
}

li, p, dt, dd, div {
  word-break: keep-all;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td, legend, button {
  margin: 0;
  padding: 0;
}

.fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
        -webkit-filter: blur(12px);
    }
    to {
        opacity: 1;
        blur: 0px;
        -webkit-filter: blur(0px);
    }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
    -webkit-filter: blur(12px);
}
to {
    opacity: 1;
    blur: 0px;
    -webkit-filter: blur(0px);
}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
    -webkit-filter: blur(12px);
}
to {
    opacity: 1;
    blur: 0px;
    -webkit-filter: blur(0px);
}
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
    -webkit-filter: blur(12px);
}
to {
    opacity: 1;
    blur: 0px;
    -webkit-filter: blur(0px);
}
}